@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
html {
    font-size: 62.5%;
}

/* Header Section */
header {
    width: 100vw;
    height: 89rem;
    background: linear-gradient(0.00deg, rgb(18, 18, 18),rgba(18, 18, 18, 0) 100%), url("./images/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13rem;
}
.header-content > h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 6.5rem;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 2.6rem;
}
.header-content > p {
    width: 60%;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.header-content > button {
    display: block;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    padding: 2.2rem 1.6rem;
    border-radius: 0.5rem;
    background: rgb(255, 89, 89);
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

/* Donate Section */
.donate {
    width: 60%;
    max-width: 102rem;
    margin: 0 auto;
    margin-bottom: 13rem;
}
.donate > h2 {
    color: rgb(18, 18, 18);
    font-family: Inter;
    font-size: 4.4rem;
    text-align: center;
    margin-bottom: 2rem;
}
.donate > p {
    width: 80%;
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.amount-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.amount-cards > p {
    width: 12rem;
    color: rgb(112, 112, 112);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 4.5rem 2.5rem;
    border-radius: 5px;
    background: rgb(250, 250, 250);
    cursor: pointer;
    margin-bottom: 3rem;
}
.amount-cards > p:nth-child(2) {
    width: 17rem;
    color: rgb(255, 89, 89);
    box-sizing: border-box;
    border: 2px solid rgb(255, 89, 89);
    border-radius: 5px;
    background: rgb(255, 238, 238);
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    
}
input[type="number"] {
    border: none;
    padding: 1.5rem;
    border-bottom: 1px solid rgb(218, 218, 218);
}
input[type="number"]::placeholder {
    color: rgb(179, 179, 179);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}
.donate > form > button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
    padding: 2.2rem 1.6rem;
    border: none;
    border-radius: 0.5rem;
    background: rgb(255, 89, 89);
    align-self: center;
    cursor: pointer;
}

/* Donate Plan Section */
.donate-plan, .contribute {
    width: 80%;
    max-width: 1130px;
    margin: 0 auto;
    margin-bottom: 110px;
}
.donate-plan > h2 {
    color: rgb(18, 18, 18);
    font-family: Inter;
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.donate-plan > p {
    max-width: 690px;
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.donate-plan-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.donate-plan-card {
    padding: 50px 22px;
}
.donate-plan-card > h3 {
    color: rgb(18, 18, 18);
    font-family: Poppins;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: left;
    margin: 20px 0 16px;
}
.donate-plan-card > p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
}
.card1 {
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.1);
}
.card2 {
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.1);
}
.card3 {
    border-radius: 5px;
    background-color: #faedcd;
}

/* Contribute Section */
.contribute-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.contribute-sections:first-child { 
    flex-direction: row-reverse;
    margin-bottom: 50px;
}
.contribute-sections > img {
    width: 45%;
    max-width: 456px;
    height: 477px;
    border-radius: 5px;
}
.contribute-content > h2 {
    max-width: 333px;
    color: rgb(18, 18, 18);
    font-family: Inter;
    font-size: 4.5rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}
.contribute-content > p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}
.contribute-content > button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    padding: 16px 12px 16px 12px;
    border: none;
    border-radius: 5px;
    background: rgb(255, 89, 89);
    margin-top: 10px;
    cursor: pointer;
}

/* Updates Section */
.update {
    width: 60%;
    max-width: 810px;
    margin: 0 auto;
    margin-bottom: 130px;
}
.update-content {
    width: 90%;
    max-width: 690px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.update-content > h2 {
    color: rgb(18, 18, 18);
    font-family: Inter;
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.update-content > p {
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}
.form-container {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 244, 214);
}
.form-container > form {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
}
.form-container > form > input {
    width: 50%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background: rgb(217, 217, 217);
    padding-left: 20px;
}
.form-container > form > input::placeholder {
    color: rgb(170, 159, 159);
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: left;
}
.form-container > form > button {
    width: 20%;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background: rgb(255, 89, 89);
    cursor: pointer;
}




@media screen and (max-width: 576px) {
    * {
        box-sizing: border-box;
    }
    header {
        height: 90vh;
        margin-bottom: 9rem;
    }
    .header-content {
        width: 100%;
        padding: 2rem;
    }
    .header-content > h1 {
        font-size: 3.2rem;
        margin-bottom: 1.6rem;
    }
    .header-content > p {
        width: unset;
        font-size: 1.4rem;
        margin-bottom: 2.5rem;
    }
    .header-content > button {
        padding: 1.2rem 1.8rem;
        font-size: 1.6rem;
    }
    .donate {
        width: 80%;
        margin-bottom: 90px;
    }
    .donate > h2 {
        font-size: 3.4rem;
        margin-bottom: 10px;
    }
    .donate > p {
        width: 80%;
        font-size: 1.6rem;
        margin-bottom: 30px;
    }
    .amount-cards {
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 3rem;
    }
    .amount-cards > p {
        width: 40%;
        font-size: 2rem;
        padding: 3rem 1rem;
        margin-bottom: 0;
    }
    .amount-cards > p:nth-child(2) {
        font-size: 2rem;
        padding: 3rem 1rem;
        width: 40%
    }
    input[type="number"]::placeholder {
        font-size: 1.6rem;
    }
    form > button {
        padding: 1.2rem 1.8rem;
        font-size: 1.6rem;
    }
    .donate-plan{
        width: 80%;
        margin-bottom: 90px;
    }
    .donate-plan > h2, .update-content > h2 {
        font-size: 3.4rem;
        margin-bottom: 10px;
    }
    .donate-plan > p, .update-content > p {
        width: 90%;
        font-size: 1.6rem;
        margin-bottom: 30px;
    }
    .donate-plan-cards {
        flex-direction: column;
        gap: 15px;
    }
    .donate-plan-card {
        padding: 30px 18px;
    }
    .donate-plan-card > h3 {
        margin: 12px 0 10px;
        font-size: 2.4rem;
    }
    .donate-plan-card > p {
        font-size: 1.4rem;
    }
    .contribute-sections {
        flex-direction: column-reverse;
        gap: 30px;
        margin-bottom: 90px;
    }
    .contribute-sections:first-child {
        flex-direction: column-reverse;
    }
    .contribute-sections > img {
        width: 100%;
        height: 300px;
    }
    .contribute-content > h2 {
        font-size: 3.4rem;
        margin-bottom: 15px;
    }
    .contribute-content > p {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    .contribute-content > button {
        padding: 1.2rem 1.8rem;
        font-size: 1.6rem;
        margin-top: 10px;
    }
    .update {
        width: 80%;
    }
    .update-content {
        margin-bottom: 30px;
    }
    .update-content > p {
        width: 100%;
        font-size: 1.6rem;
        margin: 0 auto;
    }
    .form-container {
        min-height: 150px;
        border-radius: 5px;
    }
    .form-container > form {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .form-container > form > input {
        width: 80%;
        border-radius: 5px;
        padding: 14px 0 14px;
        padding-left: 17px;
    }
    .form-container > form > button {
        width: max-content;
        padding: 1.2rem 1.8rem;
        font-size: 1.6rem;
        border-radius: 5px;
    }

}